<h1>L. A. B. S.</h1>

<div class="col-md-6 about-us-info">
  <h2>Luis A Bravo Santiago</h2>
  <hr>
  <p>
    I am a developer. Bravo Alberto is my brand of
    development / entrepreneurship. This page isn't focus so much on my
    portfolio, yes I am still going to expose my work but I also wanted to
    help my friends and any others to expose there hard work. The challenge
    of this page is to expose works of the users. If you find yourself interested
    in any of our users to work for you contact us.

  </p>
</div>

<div class="col-md-6 about-us-img">
    <img src="../me.jpg" alt="" />
</div>

<div class="logo">
  <% if logged_in? %>
  <%= link_to "Log Out", '/logout', class: "login-btn" %>
  <%= link_to "Create New Post", '/posts/new', class: "login-btn" %>
  <% else %>
  <%= link_to "Admin", '/login', class: "login-btn" %>
  <% end %>
</div>
