<h1>L. A. B. S.</h1>

<div class="col-md-6 about-us-info">
  <h2>Luis A Bravo Santiago</h2>
  <hr>
  <p>
    I am a web developer and a graphic designer. My name is Luis Bravo I started developing web applications in summer of 2015 applying my background of architecture. Here is a personal look of my projects and what I have created so far. Also you can find some personal fotos of what I find awesome and of what I know or recommend. I currently use for developing HTML5, CSS3, JavaScript, Ruby on Rails etc.. I am a very creative and insight person of what is trending online and how I can create a balance of fun and work which is very important for me and it should be for you. Weekly I will maintain this portfolio updated with new things happening around my work area. Creating is something I love and to be able to demonstrate my work with others is a pleasure. Enjoy!
  </p>
</div>

<div class="col-md-6 about-us-img">
    <img src="../me.jpg" alt="" />
</div>

<div class="logo">
  <% if logged_in? %>
  <%= link_to "Log Out", '/logout', class: "login-btn" %>
  <%= link_to "Create New Post", '/posts/new', class: "login-btn" %>
  <% else %>
  <%= link_to "Admin", '/login', class: "login-btn" %>
  <% end %>
</div>
