<div class="container">
    <div class="row">
      <div class="col-md-12 col-style">
        <div class="reach-contact">

        <div class="col-icon">
          <h2>Email: luisbravo258@gmail.com</h2>
        </div>

        <a href="https://twitter.com/acid_albert" target="_blank">
        <div class="col-icon">
          <h2>TWITTER</h2>
        </div>
        </a>


        <a href="https://github.com/luisbravo258" target="_blank">
          <div class="col-icon">
            <h2>GITHUB</h2>
          </div>
        </a>

        <a href="https://pr.linkedin.com/pub/luis-bravo-santiago/103/162/a66" target="_blank">
          <div class="col-icon">
            <h2>LINKEDIN</h2>
          </div>
        </a>

      </div>
    </div>
