<div class="row">
  <div class="col-md-12">
    <div class="home-page">
      <h1>W E L C O M E</h1>
      <%= link_to "Sign up now!", '', class: "login-btn" %>
      <%= link_to "Login in to your account", '', class: "login-btn" %>
    </div>
  </div>
</div>
