
<ul class="cb-slideshow">
     <li><span></span><div><h3 style="color: black;">W E L C O M E</h3></div></li>
     <li><span></span><div><h3 style="color: black;">BRAVO · ALBERTO</h3></div></li>
     <li><span></span><div><h3 style="color: black;">PROJECTS·I·LEARNED·FROM</h3></div></li>
     <li><span></span><div><h3 style="color: black;">ARCHITECTURE</h3></div></li>
     <li><span></span><div><h3 style="color: black;">WORK·AREA</h3></div></li>
     <li><span></span><div><h3 style="color: black;">WORK·HARD·RELAX·OFTEN</h3></div></li>
 </ul>
