<div class="row">
  <div class="col-md-12">
    <div class="home-page">
      <h1>W E L C O M E</h1>
    </div>
  </div>
</div>

</br>


<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <img src="../1.jpg">
           <div class="carousel-caption">
          </div>
        </div><!-- End Item -->

         <div class="item">
          <img src="../2.jpg">
           <div class="carousel-caption">
          </div>
        </div><!-- End Item -->

        <div class="item">
          <img src="../1.jpg">
           <div class="carousel-caption">
          </div>
        </div><!-- End Item -->

        <div class="item">
          <img src="../8.jpg">
           <div class="carousel-caption">
          </div>
        </div><!-- End Item -->

        <div class="item">
          <img src="../2.jpg">
           <div class="carousel-caption">
          </div>
        </div><!-- End Item -->

      </div><!-- End Carousel Inner -->


    <ul class="list-group col-sm-4">
      <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>Bravo | Alberto <br><br> A better way to view my work and my friends.</h4></li>
      <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>Why did I ever start programming.</h4></li>
      <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>Remember to help as most people as you can everyday.</h4></li>
      <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>P U E R T O <br> R I C O</h4></li>
      <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4>Photography by young artist.</h4></li>
    </ul>

      <!-- Controls -->
      <div class="carousel-controls">
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
      </div>

    </div><!-- End Carousel -->
</div>

</br>
</br>
</br>
