  <div class="col-md-12">
    <div class="imgfront">
    <h1></h1>
      <img src="../header.png" alt="" />
      </div>
  </div>

  <div class="col-md-12">
    <div class="paragraphhome">
      <br>
      <br>
      <br>
      <br>
      <h1>Who is bRavo albeRto?</h1>
      <br>
      <p>Bravo Alberto is my brand, which I launch on December 2015. My full
        name is Luis A Bravo. On summer of 2016 I decided to move to a new
        city (Chicago). I am a web developer and graphic designer also I have
        deep knowledge in Architecture (due to college). I have been inside
        this industry for about a year. I am very passionate of the visual
        arts. I carry lots of inspiration on abstraction. Why do I love abstraction?
        Abstraction is very liberal but discipline. It can mean almost anything
        you want it to but it will always carry a meaning. I design symmetrically
        I love the sight of simplicity and elegant. On this workspace I have
        challenged myself to keep all my creations, photography and insight.
        I will soon start to create animations that can be entertaining for
        everybody to see. The delay is due to still trying to get all my stuff
        moved here. There is still a lot of work that will be added during these
        days, weeks and months and it will be live publically. I hope you enjoy my
        creations and connect with me. </p>
        <br>
        <br>
        <br>
        <br>
    </div>
  </div>

  <div class="col-md-8">
    <div class="bigpicture" id="bigpicture">
      <img src="../images/2.jpg" alt="building" />
      <h2><span>NYC Competition | Veggie Garden</span></h2>
    </div>
  </div>
  <div class="smallpicture" id="smallpicture">
    <div class="col-md-4">
      <img src="../images/6.jpg" alt="coconut" />
      <h2><span>take a break</span></h2>
    </div>
  </div>
  <div class="smallpicture" id="smallpicture">
    <div class="col-md-4">
      <img src="../images/coffee.jpg" alt="coconut" />
      <h2><span>drink coffee!!!</span></h2>
    </div>
  </div>


  <section id="services">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">At Your Service</h2>
          <hr class="primary">
      </div>

      <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
              <img src="./images/angularjs.png" alt="" />
              <h3>AngularJS</h3>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
              <img class="rubyonrails" src="./images/Ruby_on_Rails.svg.png" alt="" />
              <h3>Ruby on Rails</h3>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
              <img class="jquery" src="./images/jquery.png" alt="" />
              <h3>Jquery</h3>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
              <img src="./images/3d-adobe-photoshop-icon-1.png" alt="" />
              <h3>Photoshop</h3>
          </div>
      </div>
  </section>
