  <div class="col-md-12">
    <div class="imgfront">
    <h1></h1>
      <img src="../header.png" alt="" />
      </div>
  </div>

  <div class="col-md-12">
    <div class="paragraphhome">
      <br>
      <br>
      <br>
      <br>
      <h1>Who is bRavo albeRto?</h1>
      <br>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
        ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
        tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
        ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
        et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo
        vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum,
        eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in
        turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus,
        tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.
        Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
        <br>
        <br>
        <br>
        <br>
    </div>
  </div>

  <div class="col-md-8">
    <div class="bigpicture" id="bigpicture">
      <img src="../images/2.jpg" alt="building" />
      <h2><span>NYC Competition | Veggie Garden</span></h2>
    </div>
  </div>
  <div class="smallpicture" id="smallpicture">
    <div class="col-md-4">
      <img src="../images/6.jpg" alt="coconut" />
      <h2><span>Taking a break</span></h2>
    </div>
  </div>
  <div class="smallpicture" id="smallpicture">
    <div class="col-md-4">
      <img src="../images/coffee.jpg" alt="coconut" />
      <h2><span>drink coffee!!!</span></h2>
    </div>
  </div>


  <section id="services">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">At Your Service</h2>
          <hr class="primary">
      </div>

      <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
              <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
              <h3>ANIMATIONS</h3>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
              <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
              <h3>ARCHITECTURE</h3>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
              <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
              <h3>PHOTOGRAPHY</h3>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
              <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
              <h3>DEVELOPMENT</h3>
          </div>
      </div>
  </section>
