 @import url(https://fonts.googleapis.com/css?family=Lato);
 @import "application.css";
 @import "font-awesome.css";
 @import "font-awesome.min.css";
 @import "poststyle.css";

 main.ng-enter {
   transition:0.5s linear all;
   opacity:0;
 }

 /* The finishing CSS styles for the enter animation */
 main.ng-enter.ng-enter-active {
   opacity:1;
 }


 body {
   font-family: 'Lato', sans-serif !important;
   background-color: white;
 }

 .row {
    margin: 0px;
}

 // nav bar START

 .namebrand img {
   width: 230px;
 }

a:hover{
   color: #25cbd6;
   text-decoration: none;
 }

ul#navbar {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  word-spacing: 10px;
  font-weight: bolder;
  color: black;
  font-size: 10px;
}

// ul#navbar:hover li > a {
//   text-decoration: none;
//   font-weight: lighter;
// }

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

nav > ul > li {
  display: inline;
  text-decoration: none;
}

 // nav bar FINISH


 // HOME PAGE START

 .imgfront img{
   position: relative;
   width: 100%;
   display: block;
   margin: auto;
   vertical-align: middle;
   text-align: center;
 }

 .imgfront:hover img{
   opacity: 1px;
 }

 .imgfront h1{
   display: block;
   text-align: center;
 }

 .paragraphhome h1{
   text-align: center;
   margin: auto;
 }

  .paragraphhome p{
    text-align: center;
    margin: auto;
    max-width:600px;
    font-size: 100%;
  }

  .rubyonrails {
    width: 125px;
  }

  .jquery {
    width: 146px;
  }

  //picture big one

  .bigpicture img{
    position: relative;
    width: 100%;
    display: block;
    vertical-align: middle;

  }

  .bigpicture h2 {
   position: absolute;
   top: 200px;
   left: 5;
   width: 100%;
}

  //picture small one

  .smallpicture img{
    position: relative;
    width: 87%;
    display: block;
    vertical-align: middle;

  }

  .smallpicture h2 {
    position: absolute;
    top: 200px;
    left: 5;
    width: 100%;
}

  h2 span {
   color: white;
   font: lighter 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
  }


 // contacts page

 // .contact-me h2{
 //   margin-right: 100px;
 // }

 .contact-picture h1{
  font-size: 25px;
 }

 .contact-picture img{
  height: 100px;
  margin-left: 60px;
  display: inline-block;
  text-align: center;
 }


 .contact-picture {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

 .chicago-pic img {
     height: 447px;
     margin-left: auto;
     margin-right: auto;
     display: -webkit-box;
 }

   .footer p{
     display: block;
   margin: auto;
   text-align: right;
   color: white;
   margin-bottom: 6px;
   position: fixed;
   bottom: 0;
   right: 35px;
   background-color: rgba(0,0,0, 0.8);
   padding: 5px;
   border-radius: 8px;
   z-index: 1000;
  }

//   display: block;
// margin: auto;
// text-align: right;
// color: white;
// margin-bottom: 6px;
// position: fixed;
// bottom: 0;
// right: 35px;
// background-color: rgba(0,0,0, 0.8);
// padding: 5px;
// border-radius: 8px;
// z-index: 1000;
