/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css?family=Open+Sans);

 body {
   font-family: 'Open Sans', sans-serif;
 }

 h1 {
   text-align: center;
 }

.logo img {
  width: 214px;
  margin-left: -206px;
margin-top: -24px;
}

.navbar {
  display: inline-block;
  margin-left: 138px;
  color: black;
  margin-bottom: -15px;
}


.home-page h1 {
  text-align: center;
}

.login-btn {
  border: 1px solid black;
  padding: 5px;
  color: black;
  float: right;
  margin-left: 2px;
  margin-top: 3px;
}

.submit-btn {
  order: 1px solid black;
  padding: 5px;
  color: black;
}

 .footer p{
   display: block;
   margin: auto;
   text-align: right;
   color: white;
   margin-bottom: 6px;
   position: fixed;
   bottom: 0;
   right: 35px;
   background-color: rgba(0,0,0, 0.8);
   padding: 5px;
   border-radius: 8px;
   z-index: 1000;
 }
