

h1 {
  text-align: center;
}

.topics-choose a > h3 {
    text-align: center;
    font-family: sans-serif;
    display: inline;
    font-size: 12px;
    margin-left: 10px;
}

.topics-choose {
    text-align: center;
}

.item {
    margin: 2px;
    /* padding: 5px; */
    background: #D8D5D2;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 5px;
    /* border-radius: 5px; */
    display: inline;
    width: 340px;
    // text-align: center;
    background-color: #f1f1f1;
    font-weight: bolder;
    font-variant: small-caps;
}


.item img {
  width: 100%;
}

.text {
  padding: 10px;
  font-size: 16px;
}

.hover11:hover {
  -webkit-filter: grayscale(100%);
}

.show-picture {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.img-show {
    margin-left: auto;
    margin-right: auto;
    background: #bfbfbf;
    padding: 10px;
    height: 100%;
}

.description-text {
  float: left;
}

.styles-text {
  text-align: center;
}

//TOPICS css

.topic-image {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.topic-title {
  text-align: center;
}
