h1 {
  text-align: center;
}

.topics-choose a > h3 {
    text-align: center;
    font-family: sans-serif;
    display: inline;
    font-size: 12px;
    margin-left: 10px;
}

.topics-choose {
    text-align: center;
}

.item {
    margin: 2px;
    /* padding: 5px; */
    background: #D8D5D2;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    /* border-radius: 5px; */
    display: inline;
    width: 340px;
}


.item img {
  width: 100%;
}
