  <div class="col-md-12 footer">
      <p>Copyright 2016 &copy; bRavo albeRto</p>
      <p>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">Github</a>
      </p>

  </div>
