<div class="footer">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <p>Copyright 2016 &copy; B | A</p>
          </div>
      </div>
    </div>
  </div>
