<div class="col-xs-12 col-sm-6 col-md-10">
  <div class="namebrand">
    <a href="/home"><img src="../bravoalberto.png" alt="" /></a>
  </div>
</div>

<div class="col-xs-6 col-sm-2">
    <nav>
      <ul id="navbar" class="navbar-home">
        <li><%= link_to "HOME", '/home' %></li>
        <!-- <li><%= link_to "ABOUT", '/about' %></li> -->
        <li><%= link_to "CATALOG", '/posts'%></li>
        <li><%= link_to "CONTACT", '/contacts'%></li>
      </ul>
    </nav>
</div>
