
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-10">
      <div class="namebrand">
        <img src="../bravoalberto.png" alt="" />
      </div>
    </div>
    <div class="col-xs-6 col-sm-2">
      <nav>
        <ul id="navbar">
          <li><%= link_to "HOME", '/home' %></li>
          <!-- <li><%= link_to "ABOUT", '/about' %></li> -->
          <li><%= link_to "CATALOG", '/posts'%></li>
          <li><%= link_to "CONTACT", '/contacts'%></li>
        </ul>
      </nav>
    </div>
  </div>
